In [279]:
import pandas as pd
import numpy as np
import pandas as pd
from datetime import datetime

import math

In [280]:
df = pd.read_csv('Cohort-Data.csv', sep = ';', dtype = {'Customer' : str,
                                                       'Cancel' : str},
                 
                decimal = ',')

df

#parse_dates = ['Subscription', 'Cancel'],

,Customer,Subscription,Cancel,Categoria,Valor_Compra,MMAA,Tempo
0,4205,01/07/2018,09/08/2020,A,1221.33,08/2020,26
1,5290,29/04/2020,04/06/2020,A,1843.01,06/2020,1
2,8530,30/12/2018,12/07/2020,B,237.25,07/2020,19
3,1740,29/11/2018,11/06/2020,C,590.94,06/2020,19
4,2487,14/05/2019,26/08/2020,A,22.49,08/2020,16
...,...,...,...,...,...,...,...
793,4853,07/08/2018,NaN,A,133.06,12/1899,Ativo
794,6153,17/09/2019,NaN,C,973.82,12/1899,Ativo
795,7332,04/07/2018,20/01/2019,B,2004.99,01/2019,7
796,4179,01/05/2020,17/12/2020,C,576.77,12/2020,8
797,8958,15/05/2019,25/11/2020,B,1119.99,11/2020,19

In [281]:
df.dtypes

Customer           object
Subscription       object
Cancel             object
Categoria          object
 Valor_Compra     float64
MMAA               object
Tempo              object
dtype: object