# UNINDO DOCUMENTOS

## Lib's

In [1]:
import pandas as pd
import os

## Arquivos

In [2]:
# Lendo os arquivos na pasta
caminho = '/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs'
caminho

'/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs'

In [3]:
for f in os.listdir(caminho):
    print(f)

Lista07.xlsx
Lista06.xlsx
Lista01.xlsx
Lista03.xlsx
idades.xlsx
Lista02.xlsx
Lista05.xlsx
Lista04.xlsx
Lista08.xlsx

In [4]:
# Criando uma lista que irá armazenar o nome dos arquivos
files = []

# inserindo os arquivos na lista
for f in os.listdir(caminho):
    if f != 'idades.xlsx':
        files.append(f)

In [5]:
files

['Lista07.xlsx',
 'Lista06.xlsx',
 'Lista01.xlsx',
 'Lista03.xlsx',
 'Lista02.xlsx',
 'Lista05.xlsx',
 'Lista04.xlsx',
 'Lista08.xlsx']

## Dataset

In [6]:
# Lendo os arquivos com o caminho da pasta
for f in files:
    print(caminho + "\\" + f)

/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista07.xlsx
/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista06.xlsx
/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista01.xlsx
/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista03.xlsx
/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista02.xlsx
/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista05.xlsx
/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista04.xlsx
/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs\Lista08.xlsx

In [8]:
# criando um dataframe vazio
df = pd.DataFrame()

type(df)

pandas.core.frame.DataFrame

In [9]:
for f in files:
    frames = pd.read_excel(caminho + "/" + f, engine='openpyxl')
    df = df.append(frames, ignore_index=True)

      nomes
0    Kushal
1     Samoa
2    Alcino
3       Jun
4     Filip
..      ...
628  Dérick
629  Walter
630  Albert
631  Fernão
632  Shayan

[633 rows x 1 columns]

In [11]:
df

      nomes
0    Kushal
1     Samoa
2    Alcino
3       Jun
4     Filip
..      ...
694  Dérick
695  Walter
696  Albert
697  Fernão
698  Shayan

[699 rows x 1 columns]

# Menos código

In [10]:
caminho = '/Users/daianeklein/Documents/ET/Space-Data/Concat-Docs'
lista = []
df = pd.DataFrame()

for f in os.listdir(caminho + "/"):
    if f != 'idades.xlsx':
        frames = pd.read_excel(caminho + "/" + f, engine='openpyxl')
    df = df.append(frames, ignore_index=True)
    
df

      nomes
0    Kushal
1     Samoa
2    Alcino
3       Jun
4     Filip
..      ...
694  Dérick
695  Walter
696  Albert
697  Fernão
698  Shayan

[699 rows x 1 columns]